body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  background-color: rgb(135, 135, 135);
  padding: 10px;
  border-radius: 10px;
}

.app h1{
  height: 40px;
  background-color: rgb(198, 198, 198);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  margin: 5px;
  border-radius: 10px;
}

.buttonWrap {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.buttonWrap button {
  height: 40px;
  width: 40px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonWrap button:hover {
  background-color: rgb(225, 225, 225);
}

.advancedButtonWrap {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

.advancedButtonWrap button {
  height: 40px;
  width: 40px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.advancedButtonWrap button:hover {
  background-color: rgb(225, 225, 225);
}

button.button-C {
  background-color: orange;
}
button.button-C:hover {
  background-color: rgb(255, 140, 0);
}